{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="max-w-5xl mx-auto">
        <div class="inline-block w-[calc(100%-360px)]">
            <section class="mt-10 mb-8">
                <h1 class="mb-2 text-2xl font-bold">{{ recruit.title }}</h1>
                <p class="text-lg">{{ recruit.creator }}</p>
                <div class="mt-4">
                    <ul class="flex">
                        {% for tag in recruit.tags.all %}
                            <li class="mr-2 last:mr-0">
                                <span class="text-sm bg-neutral-100 py-1 px-2 before:content-['#']">{{ tag.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section>
                <h4 class="mt-10 text-lg font-bold">스터디 기간</h4>
                <p>{{ recruit.start|date:'Y년 m월 d일' }} 부터 {{ recruit.end|date:'Y년 m월 d일' }} 까지</p>
                <h4 class="mt-10 text-lg font-bold">모집 대상</h4>
                <p>{{ recruit.target }}</p>
                <h4 class="mt-10 text-lg font-bold">진행 과정</h4>
                <p>{{ recruit.process }}</p>
                <h4 class="mt-10 text-lg font-bold">추가 정보</h4>
                <p>{{ recruit.info }}</p>
                {% if recruit.files.last %}
                    <h4 class="mt-10 text-lg font-bold">첨부 파일</h4>
                    <p>
                        <a href="{% url 'manager:download_s3_file' recruit.files.last.id %}"
                           class="my-1 mr-4 text-xs underline text-real-blue hover:font-bold"
                           title="파일 다운로드"
                           download>{{ recruit.files.last.get_file_name }}</a>
                    </p>
                {% endif %}
            </section>
        </div>
        <div id="side"
             class="fixed w-[340px] top-[70px] right-[calc((100%-1024px)/2)]">
            <div class="border rounded-md border-neutral-200">
                <section class="p-4">
                    <p class="flex justify-between text-xl">
                        <span>
                            {{ recruit.like_users.count }} <i class="text-red-500 fa-solid fa-heart"></i>
                        </span>
                        <span class="self-center text-base">모집 인원: {{ recruit.members.count }}/{{ recruit.total_seats }}</span>
                    </p>
                    <p class="mt-4">{{ recruit.deadline|date:'Y년 m월 d일' }} 까지</p>
                </section>
                {% if user.is_authenticated %}
                    <section class="p-4">
                        {% if request.user == recruit.creator %}
                            <a href="{% url 'recruits:recruit_request' recruit.id %}"
                               class="px-2 py-1 rounded-md bg-neutral-200 hover:bg-neutral-400 hover:text-white">참가 신청 확인</a>
                        {% else %}
                            {% if recruit.total_seats > recruit.members.count %}
                                <h2 class="text-lg font-bold">참가 신청하기</h2>
                                {% if exist_request %}
                                    <div class="exist_request_msg">이미 신청하였습니다.</div>
                                {% else %}
                                    {% for message in messages %}
                                        <div class="bg-red-200 p-2 rounded-md mt-2 before:content-['•'] before:pr-2">{{ message }}</div>
                                    {% endfor %}
                                    <form onsubmit="recruit_request('{{ user.username }}', '{{ recruit.title }}' , '{{ recruit.creator.id }}')"
                                          action=""
                                          method="post">
                                        {% csrf_token %}
                                        <hr class="my-2" />
                                        <textarea name="content"
                                                  maxheight="300px"
                                                  required
                                                  id="id_content"
                                                  placeholder="신청 메시지를 입력해주세요."
                                                  class="w-full outline-none resize-none"></textarea>
                                        <input class="px-2 py-1 mt-4 rounded-md cursor-pointer bg-neutral-200 hover:bg-neutral-400 hover:text-white"
                                               type="submit"
                                               value="신청하기">
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/resizeTextarea.js' %}"></script>
{% endblock script %}
{% block websocket %}
    function recruit_request(user, recruit, user_id) {
    var notice = {
    "content" :  user+"(이)가 "+recruit+"에 참가를 신청했습니다.",
    "user_id" : user_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
{% endblock websocket %}
