{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="flex container mx-auto h-full">
        <div class="flex-auto pr-8">
            <div class="pt-4">
                <div class="flex justify-between">
                    <form method="get" class="flex flex-auto justify-between pr-10">
                        <div class="flex flex-col flex-auto">
                            <h2 class="text-3xl text-cyan-500">스터디 검색</h2>
                            <label class="p-2 bg-slate-200 rounded-sm border border-neutral-600 cursor-text">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text"
                                       name="query"
                                       maxlength="100"
                                       id="id_query"
                                       placeholder="키워드를 입력해주세요."
                                       class="pl-4 bg-transparent outline-none placeholder-black">
                            </label>
                        </div>
                        <div class="flex flex-col flex-auto pl-8">
                            <h2 class="text-3xl text-cyan-500">테그 필터</h2>
                            <label class="p-2 bg-slate-200 rounded-sm border border-neutral-600 cursor-text">
                                <i class="fa-regular fa-tag"></i>
                                <input type="text"
                                       name="tag"
                                       maxlength="100"
                                       id="id_tag"
                                       {% if tag %}value="{{ tag }}"{% endif %}
                                       placeholder="테그를 입력해주세요."
                                       class="pl-4 bg-transparent outline-none placeholder-black">
                            </label>
                        </div>
                        <button type="submit" hidden>검색</button>
                    </form>
                    <div>
                        <a href="{% url 'recruits:create_recruit' %}">
                            <div class="p-2 border-2 border-neutral-800">
                                <i class="fa-solid fa-plus fa-xl"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3  gap-8 pt-8">
                {% for recruit in recruits %}
                    <li class="w-full shadow-md rounded-xl p-3">
                        <div class="w-full text-center relative text-sm">
                            <span class="text-cyan-500">{{ recruit.deadline|date:'Y.m.d' }} 마감</span>
                            <span class="absolute right-0 bg-yellow-200 p-0.5">?명/{{ recruit.total_seats }}명</span>
                        </div>
                        <a href="{% url 'recruits:recruit_detail' recruit.id %}">
                            <div class="w-full pt-4">
                                <h3 class="text-xl">{{ recruit.title }}</h3>
                                <p>{{ recruit.process }}</p>
                            </div>
                        </a>
                        <div class="flex">
                            {% for tag in recruit.tags.all %}
                                <a href="?tag={{ tag.name }}" class="mr-0.5 bg-cyan-300 rounded-sm">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        {% if user.is_authenticated %}
                            {% if recruit in liked_studies %}
                                <a href="{% url 'recruits:unlike_recruit' recruit.pk %}">
                                    <i class="fa-solid fa-heart text-red-400"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'recruits:like_recruit' recruit.pk %}">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="sidebar"
             class="flex-none w-80 border-l border-r border-neutral-800 p-4 overflow-y-auto">
            <div>
                <h3 class="text-2xl text-center border-b border-neutral-500 pb-3">참여 중인 스터디</h3>
                <ul class="p-4">
                    {% for study in in_studies %}
                        <li>
                            <a href="{% url 'manager:study_detail' study.id %}">
                                <i class="fa-solid fa-minus pr-4"></i>{{ study.study.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3 class="text-2xl text-center border-b border-neutral-500 pb-3">좋아요 누른 스터디</h3>
                <ul class="p-4">
                    {% for recruit in liked_studies %}
                        <li>
                            <a href="{% url 'recruits:recruit_detail' recruit.id %}">
                                <i class="fa-solid fa-minus pr-4"></i>{{ recruit.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
