{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="flex container mx-auto">
        <div class="flex-auto">
            <div class="pt-4">
                <div class="flex">
                    <form method="get" class="flex">
                        <p>
                            <label for="id_query">
                                <i class="fa-regular fa-tag"></i>
                                <input type="text"
                                       name="query"
                                       maxlength="100"
                                       id="id_query"
                                       placeholder="키워드를 입력해주세요.">
                            </label>
                        </p>
                        <p>
                            <label for="id_tag">
                                <input type="text"
                                       name="tag"
                                       maxlength="100"
                                       id="id_tag"
                                       placeholder="테그를 입력해주세요.">
                            </label>
                        </p>
                        <button type="submit" hidden>검색</button>
                    </form>
                    <a href="#">모집글 작성</a>
                </div>
            </div>
            <h3>전체 모집글</h3>
            <ul>
                {% for recruit in recruits %}
                    <li>
                        <a href="{% url 'recruits:recruit_detail' recruit.id %}">title: {{ recruit.title }}</a>
                        <br>
                        process: {{ recruit.process }}
                        <br>
                        info: {{ recruit.info }}
                        <br>
                        tags:
                        {% for tag in recruit.tags.all %}{{ tag.name }}{% endfor %}
                        <br>
                        {% if user.is_authenticated %}
                            {% if recruit in liked_studies %}
                                <a href="{% url 'recruits:unlike_recruit' recruit.pk %}">좋아요 취소</a>
                            {% else %}
                                <a href="{% url 'recruits:like_recruit' recruit.pk %}">좋아요</a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                <h3>참여중인 스터디</h3>
                <ul>
                    {% for study in in_studies %}<li>study title: {{ study.study.title }}</li>{% endfor %}
                </ul>
                <h3>좋아요한 모집글</h3>
                <ul>
                    {% for recruit in liked_studies %}<li>like: {{ recruit.title }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="sidebar" class="flex-none w-80">
            <div>
                <h3>참여 중인 스터디</h3>
            </div>
            <div>
                <h3>좋아요 누른 스터디</h3>
            </div>
        </div>
    </div>
{% endblock content %}
