{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="mx-auto max-w-5xl">
        <form action=""
              method="post"
              enctype="multipart/form-data"
              class="mt-10 pb-16">
            {% csrf_token %}
            <input id="id_title"
                   type="text"
                   name="title"
                   maxlength="100"
                   value="{{ form.title.value|default:''|safe }}"
                   required
                   placeholder="Title"
                   class="w-full outline-none text-3xl font-bold placeholder-slate-400">
            <div class="mt-10">
                <p class="text-lg font-bold">태그</p>
                <hr class="my-2" />
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="tag"
                       type="text"
                       placeholder="태그를 입력해주세요."
                       oninput="search(this)"
                       class="outline-none bg-neutral-100 px-2 py-1 rounded-md">
                <div id="checkedbox" class="mt-4"></div>
                <div id="tagbox" class="mt-4"></div>
                <input id="id_tags" type="text" name="tags" required hidden>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">마감일</p>
                <hr class="my-2" />
                <label for="id_deadline">
                    <input id="id_deadline"
                           type="date"
                           name="deadline"
                           value="{{ form.deadline.value|default:''|safe }}"
                           required
                           class="text-base bg-neutral-100 px-2 rounded-md">
                </label>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">기간</p>
                <hr class="my-2" />
                <input id="id_start"
                       type="date"
                       name="start"
                       value="{{ form.start.value|default:''|safe }}"
                       required=""
                       class="text-base bg-neutral-100 px-2 rounded-md">
                <span class="mx-4">~</span>
                <input id="id_end"
                       type="date"
                       name="end"
                       value="{{ form.end.value|default:''|safe }}"
                       required=""
                       class="text-base bg-neutral-100 px-2 rounded-md">
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">모집 인원</p>
                <hr class="my-2" />
                <input type="number"
                       min="0"
                       max="99"
                       name="total_seats"
                       value="{{ form.total_seats.value|default:''|safe }}"
                       required
                       id="id_total_seats"
                       class="outline-none bg-neutral-100 w-16 px-2 rounded-sm">
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">모집 대상</p>
                <hr class="my-2" />
                <div class="w-full">
                    <textarea id="id_target"
                              name="target"
                              required
                              oninput="resize(this)"
                              placeholder="모집 대상을 입력해주세요."
                              class="resize-none outline-none w-full">{{ form.target.value|default:''|safe }}</textarea>
                </div>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">진행 방식</p>
                <hr class="my-2" />
                <textarea id="id_process"
                          name="process"
                          required
                          oninput="resize(this)"
                          placeholder="진행 방식을 입력해주세요."
                          class="resize-none outline-none w-full">{{ form.process.value|default:''|safe }}</textarea>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">추가 정보</p>
                <hr class="my-2" />
                <textarea id="id_info"
                          name="info"
                          required
                          oninput="resize(this)"
                          placeholder="추가 정보를 입력해주세요."
                          class="resize-none outline-none w-full">{{ form.info.value|default:''|safe }}</textarea>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">파일 등록</p>
                <hr class="my-2" />
                <input id="id_file"
                       type="file"
                       name="file"
                       class="file:border-none file:bg-neutral-200 file:hover:bg-neutral-300 file:rounded-sm cursor-pointer">
            </div>
            <input type="submit" value="Create" hidden>
        </form>
    </div>
    <div class="sticky bottom-0 bg-white border-t border-neutral-300">
        <div class="mx-auto max-w-5xl">
            <div class="h-16">
                <div class="flex h-full justify-between">
                    <p class="self-center font-bold">뭔가 뭔가 뭔가 뭔가 글 뭔가 뭔가 한 글</p>
                    <button class="self-center px-5 py-3 bg-neutral-600 hover:bg-neutral-700 text-white rounded-md"
                            onClick="submit()">작성 완료</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        function resize(obj) {
            obj.innerText = obj.value;
            obj.style.height = 'auto';
            obj.style.height = `${obj.scrollHeight}px`;
        }
        function submit() {
            document.querySelector('input[type="submit"]').click();
        }

        function escapeRegExp(string) {
            return string.replace(/[.*+?^${}()|[\]\\]/g, "\\$&"); // $&은 일치한 문자열 전체를 의미
        }


        function ch2pattern(ch) {
            const offset = 44032; /* '가'의 코드 */
            // 한국어 음절
            if (/[가-힣]/.test(ch)) {
              const chCode = ch.charCodeAt(0) - offset;
              // 종성이 있으면 문자 그대로를 찾는다.
              if (chCode % 28 > 0) {
                return ch;
              }
              const begin = Math.floor(chCode / 28) * 28 + offset;
              const end = begin + 27;
              return `[\\u${begin.toString(16)}-\\u${end.toString(16)}]`;
            }
            // 한글 자음
            if (/[ㄱ-ㅎ]/.test(ch)) {
              const con2syl = {
                'ㄱ': '가'.charCodeAt(0),
                'ㄲ': '까'.charCodeAt(0),
                'ㄴ': '나'.charCodeAt(0),
                'ㄷ': '다'.charCodeAt(0),
                'ㄸ': '따'.charCodeAt(0),
                'ㄹ': '라'.charCodeAt(0),
                'ㅁ': '마'.charCodeAt(0),
                'ㅂ': '바'.charCodeAt(0),
                'ㅃ': '빠'.charCodeAt(0),
                'ㅅ': '사'.charCodeAt(0),
              };
              const begin = con2syl[ch] || ( ( ch.charCodeAt(0) - 12613 /* 'ㅅ'의 코드 */ ) * 588 + con2syl['ㅅ'] );
              const end = begin + 587;
              console.log(`[${ch}\\u${begin.toString(16)}-\\u${end.toString(16)}]`)
              return `[${ch}\\u${begin.toString(16)}-\\u${end.toString(16)}]`;
            }
            // 그 외엔 그대로 내보냄
            // escapeRegExp는 lodash에서 가져옴
            console.log(ch)
            return escapeRegExp(ch);
        }
        function createFuzzyMatcher(input) {
            const pattern = input.split('').map(ch2pattern).join('.*?');
            return new RegExp(pattern);
        }

        const tags = {{tags|safe}};
        let selected_tags = [{% for tag in form.tags.value %}"{{tag.name}}",{% endfor %}]

        function draw(tag_list) {
            const tag_box = document.getElementById('tagbox');
            tag_box.innerHTML = '';
            tag_list.forEach(tag => {
                const tag_element = document.createElement('div');
                tag_element.classList.add('inline-block', 'bg-neutral-100', 'rounded-md', 'px-2', 'py-1', 'mx-1', 'my-1', 'cursor-pointer');
                if(selected_tags.includes(tag)){
                    tag_element.classList.add('bg-neutral-300');
                }
                tag_element.innerText = tag;
                tag_element.onclick = () => toggle_tag(tag_element);
                tag_box.appendChild(tag_element);
            });
        }

        function search(target) {
            const search = target.value.trim();
            tags.forEach(tag => {
                if (createFuzzyMatcher(search).test(tag)) {
                    console.log(tag);
                }
            });
            draw(tags.filter(tag => createFuzzyMatcher(search).test(tag)));
        }

        function toggle_tag(obj){
            const checked_tags = document.getElementById('checkedbox');
            const tag = obj.innerText;
            const id_tags = document.getElementById('id_tags');
            if(selected_tags.length >= 3 && !selected_tags.includes(tag)){
                return;
            }
            if(selected_tags.includes(tag)){
                selected_tags.splice(selected_tags.indexOf(tag), 1);
                obj.classList.remove('bg-neutral-300');
            }else{
                selected_tags.push(tag);
                obj.classList.add('bg-neutral-300');
            }
            id_tags.value = selected_tags.join(',',"");
        }

        document.getElementById('id_tags').value = selected_tags.join(',',"");
        draw(tags)
    </script>
{% endblock script %}
