{% load static custom_tags %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}게시글 상세{% endblock %}
        </title>
        <link href="{% static 'css/studies/posts/detail.css' %}" rel="stylesheet">
        <link href="{% static 'css/codehilite_styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="detail">
            <div class="bottom">
                <button class="modify"
                        onclick="location .href='{% url 'manager:post_modify' post.id %}'">수정</button>
                <button class="delete"
                        data-url="{% url 'manager:post_delete' post.id %}"
                        data-task-id="{{ post.task.id }}">삭제</button>
                <button class="study"
                        onclick="location .href='{% url 'manager:post_list' post.task.id %}'">목록</button>
            </div>
            <div class="title-wrap">
                <div class="title">제목</div>
                <div class="content">{{ post.title }}</div>
            </div>
            <div class="created-wrap">
                <div class="title">작성일</div>
                <div class="content">{{ post.created_at|date:"Y.m.d" }}</div>
            </div>
            <div class="author-wrap">
                <div class="title">작성자</div>
                <div class="content">{{ post.author }}</div>
            </div>
            <div class="content-wrap">
                <div class="title">내용</div>
                <div class="content">{{ post.content | formatted_markdown }}</div>
            </div>
            <div class="file-wrap">
                <div class="title">첨부파일</div>
                <div class="content">
                    {% if post.files.exists %}
                        {% for file in post.files.all %}<a href="{{ file.url }}" download>{{ file.get_file_name }}</a>{% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let deleteBtn = document.querySelector(".delete");
        
            deleteBtn.addEventListener('click', function (e) {
                e.preventDefault();
        
                let deleteUrl = this.getAttribute('data-url');
                let task_id = this.getAttribute('data-task-id');
        
                fetch(deleteUrl, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                    },
                })
                .then(res => {
                    if (res.ok) {
                        window.location.href = "{% url 'manager:post_list' 0 %}".replace('0', task_id )
                    } else {
                        console.error('삭제 실패');
                    }
                })
                .catch(error => {
                    console.error('에러:', error);
                });
            });
        });
    </script>
</html>
