{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="study on">
        <meta name="keywords" content="study, recruit, plan, todo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study On</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css">
    </head>
    <body>
        <div id="data" data-username="{{ user }}"></div>
        <div class="h-full flex flex-col">
            <div id="header" class="w-full h-[60px] border-b border-neutral-300">
                <div class="mx-auto max-w-5xl flex items-center h-full">
                    <a href="{% url 'manager:study_detail' study.id %}"class="flex">
                        <h1 class="self-center text-lg text-cyan-700 font-bold">{{ study.title }}</h1>
                    </a>
                </div>
            </div>
            <div class="flex flex-auto justify-center items-center overflow-hidden">
                <div id="video-container" class="grid p-4">
                    <div class="aspect-video video-box max-w-xl bg-neutral-900 flex justify-center items-center">
                        <video id="local-video" autoplay playsinline>
                        </video>
                    </div>
                </div>
            </div>
            <div id="footer" class="w-full h-[60px] border-t border-neutral-300">
                <div class="mx-auto max-w-5xl flex items-center h-full">
                    <ul class="flex">
                        <li class="border-r border-neutral-300">
                            <button id="microphone_off" class="py-2 px-4">
                                <i class="fa-solid fa-microphone"></i>
                                <span>마이크</span>
                            </button>
                            <button id="microphone_on" class="py-2 px-4" hidden>
                                <i class="fa-solid fa-microphone-slash"></i>
                                <span>마이크</span>
                            </button>
                        </li>
                        <li>
                            <button id="camera_off" class="py-2 px-4">
                                <i class="fa-solid fa-video"></i>
                                <span>카메라</span>
                            </button>
                            <button id="camera_on" class="py-2 px-4" hidden>
                                <i class="fa-solid fa-video-slash"></i>
                                <span>카메라</span>
                            </button>
                        </li>
                    </ul>
                    <button id="new-video" class="ml-auto">비디오 추가</button>
                </div>
            </div>
        </div>
        <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
        <script type="text/javascript" src="{% static 'js/video.js' %}"></script>
    </body>
</html>
