{% extends "popup.html" %}
{% load chat_tags %}
{% block title %}
    Chat room for "{{ study.title }}"
{% endblock title %}
{% block content %}
    <div class="flex flex-col items-center max-w-5xl mx-auto overflow-hidden chat-room-wrap">
        <div class="flex flex-row items-center justify-between w-4/5 lg:max-w-3xl title-wrap">
            <div class="w-10/12 text-3xl font-bold title">
                {{ room.study.title|truncatechars:20 }} - {{ room.get_category_display }}
            </div>
            {% if user == room.study.creator %}
                <form action="{% url 'chat:room_delete' room.id %}"
                      method="post"
                      class="mr-5 room-delete-form"
                      title="채팅방 종료">
                    {% csrf_token %}
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor"
                         class="w-5 h-5 transition-all fill-[#373737] hover:fill-wanted-indigo cursor-pointer room-delete-btn">
                        <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l.3 7.5a.75.75 0 101.5-.06l.3-7.5z" clip-rule="evenodd" />
                    </svg>
                </form>
            {% endif %}
            <div class="flex justify-end return">
                <a href="javascript:void(0);"
                   onclick="window.close();"
                   class="block w-5"
                   title="창 닫기">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-5 h-5 mr-2 cursor-pointer hover:text-wanted-cyan">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex flex-col-reverse w-4/5 mt-8 overflow-y-auto lg:max-w-3xl"
             id="chat">
            {% for chat in chats %}
                {% if user == chat.creator %}
                    <div class="m-2 bg-[#eaf8f3] grid ml-[calc(40%-10px)] w-3/5 grid-cols-5 grid-row-2 chat-message-wrapper me">
                        <div class="self-center col-span-4 text-xs text-right text-neutral-400 chat-time">{{ chat.created_at|date:"P" }}</div>
                        <div class="self-center my-1 font-bold text-center chat-sender">Me</div>
                        <div class="col-span-5 row-start-2 my-1 chat-message">{{ chat.content }}</div>
                    </div>
                {% else %}
                    <div class="m-2 bg-[#f0ecec] grid w-3/5 grid-cols-5 grid-row-2 chat-message-wrapper other">
                        <div class="self-center col-span-2 my-1 font-bold text-center sm:col-span-1 chat-sender">{{ chat.creator }}</div>
                        <div class="self-center col-span-3 text-xs sm:col-span-4 text-neutral-400 chat-time">
                            {{ chat.created_at|date:"P" }}
                        </div>
                        <div class="col-span-5 row-start-2 my-1 chat-message">{{ chat.content }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="flex flex-row justify-between w-4/5 my-5 lg:max-w-3xl"
             id="chat-input">
            <input class="w-full mx-2 border border-neutral-400"
                   id="chat-message-input"
                   type="text">
            <input class="p-2 mx-2 text-white bg-black"
                   id="chat-message-submit"
                   type="submit"
                   value="Send">
        </div>
    </div>
{% endblock content %}
{% block include_js %}
    {{ room.id|json_script:"room-id" }}
    {{ room.get_category_display|json_script:"room-title" }}
    {{ room.study.id|json_script:"study-id" }}
    {{ user.username|json_script:"request-user" }}
{% endblock include_js %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            
            const changeDateFormat = (datetime) => {
                const date = new Date(datetime);
                
                const hours = date.getHours();
                const minutes = date.getMinutes();
                
                const ampm = hours >= 12 ? "오후" : "오전";
                
                const formattedHours = hours % 12 || 12;
                const formattedMinutes = minutes < 10 ? "0" + minutes : minutes;
                
                const formattedTime = `${formattedHours}:${formattedMinutes} ${ampm}`;
                
                return formattedTime;
            };

            const roomId = JSON.parse(
                document.getElementById('room-id').textContent
            );
            const roomTitle = JSON.parse(
                document.getElementById('room-title').textContent
            );
            const studyId = JSON.parse(
                document.getElementById('study-id').textContent
            );
            const requestUser = JSON.parse(
                document.getElementById('request-user').textContent
            );
            const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            const url = protocol + window.location.host + '/ws/chat/room/' + roomId + '/';

            const handlers = {
                chatBox: null,
                ws: null,
                retry: 0,

                init() {
                    this.chatBox = document.getElementById("chat");
                    const submitButton = document.getElementById('chat-message-submit');
                    const input = document.getElementById('chat-message-input');

                    submitButton.addEventListener("click", this.onsubmit.bind(this));

                    input.addEventListener('keypress', function (event) {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                            submitButton.click();
                        }
                    });
                },

                connect(ws_url) {
                    if(this.ws) { this.ws.close(); }
    
                    this.ws = new WebSocket(ws_url || this.ws?.url);
    
                    this.ws.onopen = this.onopen.bind(this);
                    this.ws.onclose = this.onclose.bind(this);
                    this.ws.onerror = this.onerror.bind(this);
                    this.ws.onmessage = this.onmessage.bind(this);
                },
            
                reconnect() {
                    this.connect();
                },
            
                onopen() {
                    console.log("Chat socket opened");
                    init_chatroom(requestUser,roomTitle,studyId);
                    this.retry = 0;
                },

                onclose(event) {
                    const closeCode = event.code;

                    if (closeCode == 4000) {
                        alert("Chat is closed. Move to Study Detail Page.")
                        window.location.href = `/studies/${studyId}/`;
                    } else if (!event.wasClean) {
                        console.error("Chat socket closed unexpectedly");
            
                        if (this.retry < 3) {
                            this.retry += 1;
                            setTimeout(() => {
                                this.reconnect();
                                console.log(`[${this.retry}] retry to connect ...`);
                            }, 100 * this.retry);
                        } else {
                            alert("Can't connect to Server. Move to Study Manage Page.");
                            window.location.href = `/studies/${studyId}/`;
                        }
                    }
                },

                onerror() {
                    console.error("Websocket Error occurred");
                    window.location.href = `/studies/${studyId}/`;
                },

                onmessage(event) {
                    const messageDict = JSON.parse(event.data);
                    console.log("recieved websocket message :", messageDict);
                    const { type, message, sender, datetime } = messageDict;
                    const time = changeDateFormat(datetime);
                    
                    switch(type) {
                        case "chat.message":
                            this.append_message(message, sender, time);
                            break;
                        default:
                            console.error(`Invalid message type : ${type}`);
                    }
                },

                append_message(message, sender, time) {
                    const isMe = sender === requestUser;
                    const source = isMe ? 'me' : 'other';
                    const name = isMe ? 'Me' : sender;

                    const nameBox = document.createElement("div");
                    nameBox.textContent = name;

                    const timeBox = document.createElement("div");
                    timeBox.textContent = time;

                    const messageBox = document.createElement("div");
                    messageBox.className = "col-span-5 row-start-2 my-1 chat-message";
                    messageBox.textContent = message;

                    const messageWrapper = document.createElement("div");
                    
                    if (isMe) {
                        messageWrapper.className = "m-2 bg-[#eaf8f3] grid ml-[calc(40%-10px)] w-3/5 grid-cols-5 grid-row-2 chat-message-wrapper me"
                        timeBox.className = "self-center col-span-4 text-xs text-right text-neutral-400 chat-time";
                        nameBox.className = "self-center my-1 font-bold text-center chat-sender"
                        messageWrapper.appendChild(timeBox);
                        messageWrapper.appendChild(nameBox);
                    } else {
                        messageWrapper.className = "m-2 bg-[#f0ecec] grid w-3/5 grid-cols-5 grid-row-2 chat-message-wrapper other"
                        nameBox.className = "self-center col-span-2 my-1 font-bold text-center sm:col-span-1 chat-sender"
                        timeBox.className = "self-center col-span-3 text-xs sm:col-span-4 text-neutral-400 chat-time";
                        messageWrapper.appendChild(nameBox);
                        messageWrapper.appendChild(timeBox);
                    }
                    
                    messageWrapper.classList.add(source);
                    messageWrapper.appendChild(messageBox);

                    this.chatBox.insertBefore(messageWrapper, this.chatBox.firstChild);
                },

                onsubmit(event) {
                    event.preventDefault();

                    const input = document.getElementById('chat-message-input');
                    const message = input.value;
                    if (message) {
                        const sending_websocket_message = {
                            type: "chat.message",
                            message: message,
                        };
                        console.log("sending websocket message :", sending_websocket_message);
                        this.ws.send(JSON.stringify(sending_websocket_message))
                        input.value = '';
                        input.focus();
                    }
                },



            };

            const roomDeleteForm = document.querySelector(".room-delete-form");
            const deleteBtn = document.querySelector(".room-delete-btn");

            if (deleteBtn) {
                deleteBtn.addEventListener("click", (event) => {
                    event.preventDefault();
                    if (confirm("채팅을 종료하시겠습니까?")) {

                        roomDeleteForm.submit();
                    } else {
                    }
                })
            };

            handlers.init();
            
            handlers.connect(url);
            
            const chatBox = document.getElementById("chat");

            let page = 1;
            let emptyPage = false;
            let blockRequest = false;
            let lastScrollY = 0;

            chatBox.addEventListener('scroll', function (e) {
                let currentScrollY = -chatBox.scrollTop;
                let margin = chatBox.scrollHeight - chatBox.clientHeight - 500;

                if (currentScrollY > lastScrollY && currentScrollY > margin && !emptyPage && !blockRequest) {
                    blockRequest = true;
                    page += 1;
                    let requestUrl = `?page=${page}`;
                    fetch(requestUrl)
                        .then(response => response.text())
                        .then(html => {
                            let parser = new DOMParser();
                            let doc = parser.parseFromString(html, 'text/html');
                            let chatBoxContent = doc.querySelector("#chat").innerHTML;
                            if (chatBoxContent === '') {
                                emptyPage = true;
                            } else {
                                chatBox.insertAdjacentHTML('beforeend', chatBoxContent);
                                blockRequest = false;
                            }
                        });
                }
                lastScrollY = currentScrollY;
            });
        })


        function adjustChatRoomHeight() {
            const bodyContentHeight = document.getElementById("body-content").getBoundingClientRect().height;
            const titleWrapHeight = document.querySelector(".title-wrap").getBoundingClientRect().height;
            const chatRoomWrap = document.querySelector(".chat-room-wrap");
            chatRoomWrap.style.height = `${bodyContentHeight - titleWrapHeight}px`;
        }
        
        window.addEventListener("load", adjustChatRoomHeight);
        window.addEventListener("resize", adjustChatRoomHeight);

        
        function init_chatroom(username,chat_name,study_id) {
        var notice = {
        "content" :  username + "(이)가 " + chat_name + " 채팅방에 접속했습니다.",
        "study_id" : study_id,
        "username" : username,
        "db_save" : false
        };
        notice_socket.send(JSON.stringify(notice));
        };

        let headerBtn = document.querySelector(".header .text-base");
        headerBtn.replaceChildren();

        let newText = document.createTextNode("Chat Room");
        headerBtn.appendChild(newText);

        headerBtn.classList.add("items-center", "font-bold", "text-lg");
    </script>
{% endblock script %}
{% block websocket %}
    window.onbeforeunload = function() {
    out_chatroom('{{ user.username }}','{{ room.get_category_display }}','{{ room.study.id }}');
    return null;
    };
    function out_chatroom(username,chat_name,study_id) {
    var notice = {
    "content" :  username + "(이)가 " + chat_name + " 채팅방을 나갔습니다.",
    "study_id" : study_id,
    "username" : username,
    "db_save" : false
    };
    notice_socket.send(JSON.stringify(notice));
    };
{% endblock websocket %}
