{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style %}
{% block content %}
    <div class="mx-auto max-w-5xl pt-10 min-h-[calc(100%-68px)]">
        <form method="post">
            <div class="flex flex-col">
                <input class="w-full text-3xl font-bold outline-none placeholder-slate-400"
                       type="{{ form.title.widget.input_type }}"
                       placeholder="{{ form.title.label }}"
                       name="{{ form.title.name }}"
                       value="{{ form.title.value }}">
                <p class="text-lg font-bold mt-10">기간</p>
                <hr class="my-2" />
                <div class="sm:inline date">{{ form.start }} ~ {{ form.end }}</div>
                {% if messages %}
                    {% for message in messages %}<div class="text-red-600">{{ message }}</div>{% endfor %}
                {% endif %}
                <p class="text-lg font-bold mt-10">설명</p>
                <hr class="my-2" />
                <input class="w-full outline-none"
                       type="{{ form.description.widget.input_type }}"
                       placeholder="{{ form.description.label }}"
                       name="{{ form.description.name }}"
                       value="{{ form.description.value }}">
                {% csrf_token %}
                <div class="flex justify-between h-full">
                    <div class="opacity-0">empty element</div>
                    <div class="cursor-pointer self-center mt-4 px-3 py-2 text-white rounded-md bg-neutral-600 hover:bg-neutral-700">
                        <input class="cursor-pointer" type="submit" value="수정 완료">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr('#id_start', {
            dateFormat: "Y-m-d",
        });

        flatpickr('#id_end', {
            dateFormat: "Y-m-d",
        });
    </script>
{% endblock script %}
