{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="container md:max-w-3xl mx-auto pt-6">
        <div class='flex flex-row'>
            <div class="text-4xl font-bold">{{ study.title }}</div>
            <div class='ml-6 self-end'>{{ study.start|date:'Y.m.d' }}~{{ study.end|date:'Y.m.d' }}</div>
            <div class='ml-auto'>
            {% if study.creator == user %}
                <a href="{% url "manager:study_modify" study.id %}"
                    class="p-2 rounded-lg">
                    <span class="bg-sky-300 rounded-lg px-1">스터디 수정</span>
                </a>
            {% endif %}
            </div>
        </div>
        <hr class='my-10'>
        <p class='text-2xl mb-6'>스터디 멤버 <span class='text-sm'>{{ study.members.count }}명 / {{ study.recruits.total_seats}}명</span></p>
        <div class="flex flex-wrap flex-row">
            {% for member in study.members.all %}
                <div class="flex flex-wrap flex-row">
                    {% if member != study.creator %}
                        <div class="mx-2 group relative">{{ member.username }}
                            {% if study.creator == user %}
                                <form action="{% url "manager:study_kickout" study.id member.id %}"
                                        method="post" class='invisible group-hover:visible absolute top-0'>
                                    {% csrf_token %}
                                    <input type="submit"
                                            value="Kick out"
                                            class="bg-red-400 px-1 rounded-full cursor-pointer">
                                </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <span class="mx-2">{{ member.username }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <hr class='my-10'>
        <div class="flex flex-row flex-between">
            <div class="p-2 rounded-lg basis-[calc(50%-10px)] mx-auto border-solid border-2">
                <h2 class="text-xl">진행방식</h2>
                <p class="pt-2">{{ study.process }}</p>
            </div>
            <div class="p-2 rounded-lg basis-[calc(50%-10px)] mx-auto border-solid border-2">
                <h2 class="text-xl">추가정보</h2>
                <p class="pt-2">{{ study.info }}</p>
            </div>
        </div>
        <hr class='my-10'>
        <div class="flex flex-col">
            <p class='text-2xl mb-6'>Task</p>
            <div class='overflow-y-scroll h-[150px]'>
                {% for task in tasks %}
                    <div class="flex flex-row">
                        {% if task.is_finished %}
                            <form action="{% url "manager:task_complete" task.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-solid fa-square-check"></i></button>
                            </form>
                        {% else %}
                            <form action="{% url "manager:task_complete" task.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-square"></i></button>
                            </form>
                        {% endif %}
                        <div class="ml-3"><a href="{% url "manager:post_list" task.id %}">{{ task.title }}</a></div>
                        <span class="text-xs block self-end ml-3">{{ task.start|date:'Y.m.d' }}~{{ task.end|date:'Y.m.d' }}</span>
                        <div class='ml-auto flex flex-row'>
                            {% if task.author == user or study.creator == user%}
                                <a class='block bg-sky-300 rounded-lg px-1' href="{% url "manager:task_modify" task.id %}">Modify</a>
                                <form action="{% url "manager:task_delete" task.id %}" method="post" class='mx-3 bg-red-400 rounded-lg px-1'>
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <hr class='my-1'>
                {% endfor %}
            </div>
        </div>
        <form action='{% url "manager:task_create" study.id %}' method="post" class='border-solid border-2 rounded-lg p-1 mt-5'>
            <div class='flex flex-row'>
                <input class='' type="{{ task_form.title.widget.input_type }}" placeholder='{{ task_form.title.label }}' name='{{ task_form.title.name }}'>
                {{ task_form.start }} ~ {{ task_form.end }}
                {% if messages %}
                    {% for message in messages %}
                    <span class='text-red-600'>{{ message }}</span>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <input class='ml-auto bg-yellow-100 rounded-lg px-1' type="submit" value="Create">
            </div>
            <input class='w-full h-[32px]' type="{{ task_form.description.widget.input_type }}" placeholder='{{ task_form.description.label }}' name='{{ task_form.description.name }}'>
        </form>
    </div>
{% endblock content %}
