{% extends "base.html" %}
{% block content %}
    <div class="container md:max-w-3xl mx-auto pt-6">
        <div class="flex justify-between">
            <h1 class="text-3xl font-bold">{{ study.title }}</h1>
            {% if study.creator == user %}
                <a href="{% url "manager:study_modify" study.id %}"
                   class="p-2 rounded-lg bg-cyan-400">
                    <span class="font-bold">스터디 수정</span>
                </a>
            {% endif %}
        </div>
        <p>{{ study.start|date:'Y.m.d' }}~{{ study.end|date:'Y.m.d' }}</p>
        <div class="mt-3">
            {% for member in study.members.all %}
                <div class="flex justify-between pt-3 first:pt-0">
                    {% if member != study.creator %}
                        <span class="text-lg">{{ member.username }}</span>
                        {% if study.creator == user %}
                            <form action="{% url "manager:study_kickout" study.id member.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="submit"
                                       value="Kick out"
                                       class="bg-red-500 text-white p-1 rounded-md cursor-pointer">
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="pt-8">
            <div class="bg-neutral-200 p-4 rounded-lg">
                <h2 class="text-xl">진행방식</h2>
                <p class="pt-2">{{ study.process }}</p>
            </div>
            <div class="bg-neutral-200 p-4 rounded-lg mt-4">
                <h2 class="text-xl">추가정보</h2>
                <p class="pt-2">{{ study.info }}</p>
            </div>
            <div class="pt-6 flex flex-col">
                <ul class="border border-black">
                    {% for task in tasks %}
                        <li class="flex border-b border-black last:border-none">
                            <div class="w-20 border-r border-black flex justify-center">
                                <span class="self-center text-center">
                                    {% if task.is_finished %}
                                        완료
                                    {% else %}
                                        미완료
                                    {% endif %}
                                </span>
                            </div>
                            <div class="w-52 border-r border-black flex justify-center">
                                <span class="self-center">{{ task.start|date:'Y.m.d' }}~{{ task.end|date:'Y.m.d' }}</span>
                            </div>
                            <p class="flex-auto self-center pl-3">{{ task.title }}</p>
                            <div class="flex flex-none">
                                <a href="{% url "manager:post_list" task.id %}"
                                   class="p-1 px-2 bg-cyan-200 border-l border-black">Board</a>
                                <a href="{% url "manager:task_modify" task.id %}"
                                   class="p-1 px-2 bg-cyan-300 border-l border-black">Modify</a>
                                <form action="{% url "manager:task_complete" task.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit"
                                           value="Complete"
                                           class="p-1 px-2 bg-cyan-400 border-l border-black">
                                </form>
                                <a href="{% url "manager:task_delete" task.id %}"
                                   class="p-1 px-2 bg-cyan-500 border-l border-black text-red-500">Delete</a>
                            </div>
                        </li>
                    {% empty %}
                        <li>task가 없습니다.</li>
                    {% endfor %}
                </ul>
                <div class="flex pt-3">
                    <a href="{% url "manager:task_create" study.id %}"
                       class="bg-cyan-500 p-2 rounded-lg text-white">New Task</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
