{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    <style>
        .scroll_invisible {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .scroll_invisible::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="relative max-w-5xl mx-auto">
        <div class="box-border absolute right-0 w-64 bg-white border-solid border-l-2 h-full">
            <p class="text-xl p-2">나의 모집글</p>
            <div class="scroll_invisible h-[275px] overflow-y-scroll">
                {% for my_recruit in my_recruits %}
                    <div class="shadow-md w-[90%] p-1 mb-1 mx-auto">
                        <a class="block text-xl truncate w-[100px]"
                           href="{% url "recruits:recruit_detail" my_recruit.id %}">{{ my_recruit.title }}</a>
                        <div class="flex justify-between">
                            <span class="text-xs">~{{ my_recruit.deadline|date:'Y.m.d' }}</span>
                            <span class="text-sm">{{ my_recruit.members.count }} / {{ my_recruit.total_seats }} <i class="fa-solid fa-user"></i></span>
                        </div>
                        <div class="flex justify-end">
                            <span class="mr-auto">{{ my_recruit.like_users.count }}
                                {% if my_recruit in like_recruits %}
                                    <a href="{% url 'manager:studies_unlike_recruit' my_recruit.pk %}">
                                        <i class="fa-solid fa-heart text-red-400"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'manager:studies_like_recruit' my_recruit.pk %}">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                {% endif %}
                            </span>
                            <div class="mr-2 p-1">
                                <a href="{% url 'recruits:modify_recruit' my_recruit.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="w-5 h-5 fill-wanted-cyan hover:scale-125">
                                        <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                                        <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                                    </svg>
                                </a>
                            </div>
                            <div class="mr-2 p-1">
                                <a href="{% url 'recruits:delete_recruit' my_recruit.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="w-5 h-5 text-red-500 hover:scale-125">
                                        <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="text-xl p-2">찜한 모집글</p>
            <div class="scroll_invisible h-[275px] overflow-y-scroll">
                {% for like_recruit in like_recruits %}
                    {% if like_recruit.creator != user %}
                        <div class="shadow-md w-[90%] p-1 mb-1 mx-auto">
                            <a class="text-xl truncate w-[100px]"
                               href="{% url "recruits:recruit_detail" like_recruit.id %}">{{ like_recruit.title }}</a>
                            <div class="flex justify-between">
                                <span class="text-xs">~{{ like_recruit.deadline|date:'Y.m.d' }}</span>
                                <span class="text-sm">{{ like_recruit.members.count }} / {{ like_recruit.total_seats }} <i class="fa-solid fa-user"></i></span>
                            </div>
                            <div class="flex justify-end">
                                <span class="mr-auto">{{ like_recruit.like_users.count }}
                                    <a href="{% url 'manager:studies_unlike_recruit' like_recruit.pk %}">
                                        <i class="fa-solid fa-heart text-red-400"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="box-border w-[calc(100%-256px)]">
            <p class="text-4xl p-2">나의 스터디</p>
            <div class="flex flex-row overflow-hidden w-full min-w-[250px] h-[300px] overflow-x-scroll pb-4">
                {% for my_study in my_studies %}
                    <div class="shadow-md mx-3 p-1 min-w-[250px] h-[100px] hover:h-[250px] overflow-hidden">
                        <div class="relative pt-2 flex items-end">
                            <a class="text-2xl truncate w-[100px]"
                               href="{% url 'manager:study_detail' my_study.id %}">{{ my_study.title }}</a>
                            <span class="absolute top-0 right-0 text-xs bg-slate-100 pl-1 pr-1">{{ my_study.get_status_display }}</span>
                        </div>
                        <div class="m-1 flex justify-between">
                            <span class="text-xs self-center">{{ my_study.start|date:'Y.m.d' }} ~ {{ my_study.end|date:'Y.m.d' }}</span>
                            <span>{{ my_study.members.count }} / {{ my_study.recruits.total_seats }} <i class="fa-solid fa-user"></i></span>
                        </div>
                        <p>
                            {% if my_study.study_tasks.all %}
                                tasks : {{ my_study.finished_task.count }} / {{ my_study.study_tasks.count }} ( {{ my_study.finished_task_percent }}% )
                            {% else %}
                                tasks : 0 / 0 ( 0.0% )
                            {% endif %}
                        </p>
                        <div class="grid grid-cols-2 gap-4 place-content-center mt-4">
                            <form onsubmit="recruting('{{ my_study.title }}',{{ my_study.id }});"
                                  action="{% url "manager:study_recuting" my_study.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer pl-1 pr-1" type="submit" value="Recruting">
                            </form>
                            <form onsubmit="in_progress('{{ my_study.title }}',{{ my_study.id }});"
                                  action="{% url 'manager:study_inprogress' my_study.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer pl-1 pr-1" type="submit" value="In Progress">
                            </form>
                            <form onsubmit="complete('{{ my_study.title }}',{{ my_study.id }});"
                                  action="{% url 'manager:study_done' my_study.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer pl-1 pr-1" type="submit" value="Complete">
                            </form>
                            <form onsubmit="finished('{{ my_study.title }}',{{ my_study.id }});"
                                  action="{% url 'manager:study_finished' my_study.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer pl-1 pr-1" type="submit" value="Finished">
                            </form>
                            <form onsubmit="study_delete('{{ my_study.title }}',{{ my_study.id }});"
                                  action="{% url 'manager:study_delete' my_study.id %}"
                                  method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer text-red-400 pl-1 pr-1"
                                       type="submit"
                                       value="Delete">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="text-4xl p-2">참여 스터디</p>
            <div class="flex flex-row overflow-hidden w-full min-w-[250px] h-[250px] overflow-x-scroll pb-4">
                {% for in_study in in_studies %}
                    <div class="shadow-md mx-3 p-1 min-w-[250px] h-[100px] hover:h-[150px] overflow-hidden">
                        <div class="relative pt-2 flex items-end">
                            <a class="text-2xl truncate w-[100px]"
                               href="{% url 'manager:study_detail' in_study.id %}">{{ in_study.title }}</a>
                            <span class="absolute top-0 right-0 text-xs bg-slate-100 pl-1 pr-1">{{ in_study.get_status_display }}</span>
                        </div>
                        <div class="m-1 flex justify-between">
                            <span class="text-xs self-center">{{ in_study.start|date:'Y.m.d' }} ~ {{ in_study.end|date:'Y.m.d' }}</span>
                            <span>{{ in_study.members.count }} / {{ in_study.recruits.total_seats }} <i class="fa-solid fa-user"></i></span>
                        </div>
                        <p>
                            {% if in_study.study_tasks.all %}
                                tasks : {{ in_study.finished_task.count }} / {{ in_study.study_tasks.count }} ( {{ in_study.finished_task_percent }}% )
                            {% else %}
                                tasks : 0 / 0 ( 0.0% )
                            {% endif %}
                        </p>
                        <div>
                            <form action="{% url 'manager:study_leave' in_study.id %}" method="post">
                                {% csrf_token %}
                                <input class="cursor-pointer text-red-400 pl-1 pr-1 mt-4"
                                       type="submit"
                                       value="Leave">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block websocket %}
    function recruting(study_title,study_id) {
    var notice = {
    "content" :  study_title+"의 상태가 Recruting 으로 변경되었습니다.",
    "study_id" : study_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
    function in_progress(study_title,study_id) {
    var notice = {
    "content" :  study_title+"의 상태가 In progress 으로 변경되었습니다.",
    "study_id" : study_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
    function complete(study_title,study_id) {
    var notice = {
    "content" :  study_title+"의 상태가 Complete 으로 변경되었습니다.",
    "study_id" : study_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
    function finished(study_title,study_id) {
    var notice = {
    "content" :  study_title+"의 상태가 Finished 으로 변경되었습니다.",
    "study_id" : study_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
    function study_delete(study_title,study_id) {
    var notice = {
    "content" :  study_title+"(이)가 삭제 되었습니다.",
    "study_id" : study_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
{% endblock websocket %}
