{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="relative">
        <div class="box-border fixed inset-y-0 right-0 border-solid border-2">
            <div class=''>
                <h2>내가 생성한 모집글</h2>
                <ul>
                    {% for my_recruit in my_recruits %}
                        <li>
                            <a href="{% url "recruits:recruit_detail" my_recruit.id %}">
                                <h3>{{ my_recruit.title }}</h3>
                            </a>
                            <div>
                                <span>{{ my_recruit.deadline|date:'Y.m.d' }}</span>
                                <span>{{ my_recruit.members.count }}명 / {{ my_recruit.total_seats }}명</span>
                            </div>
                            <p>대상 : {{ my_recruit.target }}</p>
                            <p>{{ my_recruit.process }}</p>
                            <div>
                                {% for tag in my_recruit.tags.all %}<span>{{ tag }}</span>{% endfor %}
                            </div>
                            <div>
                                <div>
                                    <span>{{ my_recruit.like_users.count }}</span>
                                    <i class="fa-solid fa-heart text-red-400"></i>
                                </div>
                                <div>
                                    <a href="{% url 'recruits:modify_recruit' my_recruit.id %}">수정</a>
                                    <a href="{% url 'recruits:delete_recruit' my_recruit.id %}">삭제</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class=''>
                <h2>내가 찜한 모집글</h2>
                <ul>
                    {% for like_recruit in like_recruits %}
                        <li>
                            <a href="{% url "recruits:recruit_detail" like_recruit.id %}">
                                <h3>{{ like_recruit.title }}</h3>
                            </a>
                            <div>
                                <span>{{ like_recruit.deadline|date:'Y.m.d' }}</span>
                                <span>{{ like_recruit.members.count }}명 / {{ like_recruit.total_seats }}명</span>
                            </div>
                            <p>대상 : {{ like_recruit.target }}</p>
                            <p>{{ like_recruit.process }}</p>
                            <div>
                                {% for tag in like_recruit.tags.all %}<span>{{ tag }}</span>{% endfor %}
                            </div>
                            <div>
                                <div>
                                    <span>{{ like_recruit.like_users.count }}</span>
                                    <i class="fa-solid fa-heart text-red-400"></i>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class=''>
            <h2>내가 팀장인 스터디 목록</h2>
            <ul>
                {% for my_study in my_studies %}
                    <li>
                        <a href="{% url "manager:study_detail" my_study.id %}">
                            <h3>{{ my_study.title }}</h3>
                        </a>
                        <div>
                            <span>{{ my_study.start|date:'Y.m.d' }} ~ {{ my_study.end|date:'Y.m.d' }}</span>
                            <span>{{ my_study.get_status_display }}</span>
                        </div>
                        <div>
                            {% for member in my_study.members.all %}
                                <span>{{ member.username }}</span>
                            {% endfor %}
                        </div>
                        {% if my_study.study_tasks.all %}
                            <p>
                                tasks : {{ my_study.finished_task.count }} / {{ my_study.study_tasks.count }} ( {{ my_study.finished_task_percent }}% )
                            </p>
                        {% endif %}
                        <div>
                            <form action='{% url "manager:study_recuting" my_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit" value="Recuting">
                            </form>
                            <form action='{% url "manager:study_inprogress" my_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit" value="In Progress">
                            </form>
                            <form action='{% url "manager:study_done" my_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit" value="Complete">
                            </form>
                            <form action='{% url "manager:study_finished" my_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit" value="Finished">
                            </form>
                            <form action='{% url "manager:study_delete" my_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class=''>
            <h2>내가 팀원인 스터디 목록</h2>
            <ul>
                {% for in_study in in_studies %}
                    <li>
                        <a href="{% url "manager:study_detail" in_study.id %}">
                            <h3>{{ in_study.title }}</h3>
                        </a>
                        <div>
                            <span>{{ in_study.start|date:'Y.m.d' }} ~ {{ in_study.end|date:'Y.m.d' }}</span>
                            <span>{{ in_study.get_status_display }}</span>
                        </div>
                        <div>
                            {% for member in in_study.members.all %}
                                <span>{{ member.username }}</span>
                            {% endfor %}
                        </div>
                        {% if in_study.study_tasks.all %}
                            <p>
                                tasks : {{ in_study.finished_task.count }} / {{ in_study.study_tasks.count }} ( {{ in_study.finished_task_percent }}% )
                            </p>
                        {% endif %}
                        <div>
                            <form action='{% url "manager:study_leave" in_study.id %}' method="post">
                                {% csrf_token %}
                                <input type="submit"value="Leave">
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
