{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock style %}
{% block content %}
    <div class="mx-auto max-w-5xl pt-10 min-h-[calc(100%-68px)]">
        <form method="post" class="pb-16">
            {% csrf_token %}
            <input id="id_title"
                   type="text"
                   name="title"
                   maxlength="100"
                   value="{{ form.title.value|default:''|safe }}"
                   required
                   placeholder="Title"
                   class="w-full text-3xl font-bold outline-none placeholder-slate-400">
            <div class="mt-10">
                <p class="text-lg font-bold">기간</p>
                <hr class="my-2" />
                <input id="id_start"
                       type="date"
                       name="start"
                       value="{{ form.start.value|default:''|safe }}"
                       required=""
                       class="px-2 text-base text-center rounded-md w-28 bg-neutral-100">
                <span class="mx-4">~</span>
                <input id="id_end"
                       type="date"
                       name="end"
                       value="{{ form.end.value|default:''|safe }}"
                       required=""
                       class="px-2 text-base text-center rounded-md w-28 bg-neutral-100">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}<div class="text-red-600 mt-2">{{ error }}</div>{% endfor %}
                {% endif %}
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">진행 방식</p>
                <hr class="my-2" />
                <textarea id="id_process"
                          name="process"
                          required
                          oninput="resize(this)"
                          placeholder="진행 방식을 입력해주세요."
                          class="w-full outline-none resize-none">{{ form.process.value|default:''|safe }}</textarea>
            </div>
            <div class="mt-10">
                <p class="text-lg font-bold">추가 정보</p>
                <hr class="my-2" />
                <textarea id="id_info"
                          name="info"
                          required
                          oninput="resize(this)"
                          placeholder="추가 정보를 입력해주세요."
                          class="w-full outline-none resize-none">{{ form.info.value|default:''|safe }}</textarea>
            </div>
            <input type="submit" hidden>
        </form>
    </div>
    <div class="sticky bottom-0 h-[68px] bg-white border-t border-neutral-300">
        <div class="h-full max-w-5xl mx-auto">
            <div class="flex justify-between h-full">
                <div class="flex flex-row info self-center">
                <p class="hidden sm:flex font-bold">{% now "Y년 m월 d일" %} : &nbsp;</p>
                <p class="font-bold">{{ user }}님의 스터디 수정</p>
                </div>
                <button class="self-center px-5 py-3 text-white rounded-md bg-neutral-600 hover:bg-neutral-700"
                        onClick="submit()">수정 완료</button>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        function resize(obj) {
            obj.innerText = obj.value;
            obj.style.height = 'auto';
            obj.style.height = `${obj.scrollHeight}px`;
        }
        function submit() {
            document.querySelector('input[type="submit"]').click();
        }

        flatpickr('#id_start', {
            dateFormat: "Y-m-d",
        });

        flatpickr('#id_end', {
            dateFormat: "Y-m-d",
        });
    </script>
{% endblock script %}
