{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Your website description here">
    <meta name="keywords" content="your, website, keywords, here">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock style %}
  </head>
  <body>
    <div class="border-b border-neutral-600">
      <div class="container mx-auto flex justify-between py-5">
        <a href="{% url 'recruits:index' %}"class="flex">
          <h1 class="my-auto text-5xl text-cyan-700 font-bold">StudyOn</h1>
        </a>
        {% if user.is_authenticated %}
          <div class="flex items-center text-xl font-bold">
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
          </div>
        {% endif %}
        <div class="flex">
          <div class="flex items-center text-xl font-bold pr-6">
            <a href={% url 'manager:studies_list' %}>스터디 관리</a>
          </div>
          <div class="flex items-center text-xl font-bold">
            {% if user.is_authenticated %}
              <a href={% url 'users:logout' %}>로그아웃</a>
            {% else %}
              <a href={% url 'users:login' %}>로그인</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </body>
</html>
