{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Your website description here">
    <meta name="keywords" content="your, website, keywords, here">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS + Flowbite</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock style %}
  </head>
  <body>
    <div class="h-full">
      <div class="h-[60px] border-b border-neutral-300">
        <div class="mx-auto max-w-5xl flex items-center h-full">
          <a href="{% url 'recruits:index' %}"class="flex">
            <h1 class="self-center text-2xl text-cyan-700 font-bold">StudyOn</h1>
          </a>
          {% if user.is_authenticated %}
            <div class="flex items-center text-xl font-bold pl-20">
              <p>
                Welcome,
                {% if user.profile.nickname %}
                  {{ user.profile.nickname }}.
                {% else %}
                  {{ user.get_username }}.
                {% endif %}
                Thanks for logging in.
              </p>
            </div>
          {% endif %}
          <div class="ml-auto flex h-full">
            {% if user.is_authenticated %}
              <div class="flex items-center text-lg font-bold">
                <a href={% url 'users:info' %}>내 정보</a>
              </div>
              <div class="flex items-center text-lg font-bold pl-6">
                <a href={% url 'manager:studies_list' %}>스터디 관리</a>
              </div>
              <div class="flex items-center text-lg font-bold pl-6">
                <a href={% url 'users:logout' %}>로그아웃</a>
              </div>
            {% else %}
              <div class="flex items-center text-lg font-bold pl-6">
                <a href={% url 'users:login' %}>로그인</a>
              </div>
              <div class="flex items-center text-lg font-bold pl-6">
                <a href={% url 'users:signup' %}>회원가입</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="h-full">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
