{% extends "popup.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="w-full h-full max-w-5xl mx-auto">
        <div class="flex justify-between w-4/5 mx-auto mb-5 xl:w-full send-msg">
            <div class="col-span-8 text-3xl font-semibold title">메세지 목록</div>
            <div class="flex">
                <a href="#" onClick="location.reload();" class="block mr-8">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1"
                         stroke="currentColor"
                         class="inline w-5 h-5 text-[#373737] hover:text-wanted-cyan mt-[8px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" class="mt-[8px]" />
                    </svg>
                </a>
                <a href="#" class="block" onclick="window.close();">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 hover:text-wanted-blue mt-[6px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex justify-end w-4/5 mx-auto mb-5 text-xs xl:w-full">확인한 메세지는 30일 뒤 자동 삭제됩니다.</div>
        <div class="flex justify-center w-4/5 mx-auto mb-7 pagination xl:w-full">
            {% if page_obj.has_previous %}
                <div class="mx-2 mt-1 page-item">
                    <a class="page-link hover:text-wanted-blue hover:underline"
                       href="?page={{ page_obj.previous_page_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                        </svg>
                    </a>
                </div>
            {% else %}
                <div class="mx-2 page-item disabled:">&nbsp;</div>
            {% endif %}
            {% for index in pagelist %}
                {% if index == page_obj.number %}
                    <div class="mx-2 page-item">
                        <span class="page-link text-wanted-cyan">{{ index }}</span>
                    </div>
                {% else %}
                    <div class="mx-2 page-item">
                        <a class="page-link hover:text-wanted-blue hover:underline"
                           href="?page={{ index }}">{{ index }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <div class="mx-2 mt-1 page-item">
                    <a class="page-link hover:text-wanted-blue hover:underline"
                       href="?page={{ page_obj.next_page_number }}">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                        </svg>
                    </a>
                </div>
            {% else %}
                <div class="mx-2 page-item disabled">&nbsp;</div>
            {% endif %}
        </div>
        {% for message in messages %}
            <div class="flex my-4 max-w-[80%] mx-auto justify-center rounded-md bg-neutral-100">
                <div class="flex flex-row justify-between w-full px-2 text-lg truncate ">
                    <a class="block mr-6 underline truncate hover:text-neutral-400"
                       href="{% url "message:read_message" message.id %}">{{ message }}</a>
                    <div class="self-center text-xs">{{ message.created_at|date:"n/j G:i" }}</div>
                </div>
                <div class="flex self-center justify-center w-8">
                    {% if message.read_at %}<i class="fa-solid fa-check fa-xs"></i>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
