{% extends "popup.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="h-full max-w-5xl mx-auto">
        <div class="flex justify-between w-4/5 mx-auto mb-5 xl:w-full send-msg">
            <div class="col-span-8 text-3xl font-semibold title">알림 목록</div>
            <div class="flex">
                <a href="#" onClick="location.reload();" class="block mr-8">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1"
                         stroke="currentColor"
                         class="inline w-5 h-5 text-[#373737] hover:text-neutral-400 mt-[8px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" class="mt-[8px]" />
                    </svg>
                </a>
                <a href="javascript:void(0);" class="block" onclick="window.close();">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 hover:text-wanted-blue mt-[6px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex justify-end w-4/5 mx-auto mb-5 text-xs xl:w-full">수신한 알림은 30일 뒤 자동 삭제됩니다.</div>
        {% for notice in notices %}
            <div class="flex my-4 max-w-[80%] mx-auto justify-center">
                <p class="px-2 mr-4 text-lg rounded-md bg-neutral-100">
                    {{ notice }} <span class="text-xs">{{ notice.created_at|date:"n/j G:i" }}</span>
                </p>
                <form class="text-red-500 hover:scale-125"
                      action="{% url "message:notice_delete" notice.id %}"
                      method="post">
                    {% csrf_token %}
                    <button type="submit">
                        <i class="fa-solid fa-delete-left"></i>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
