{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
{% endblock style %}
{% block content %}
    <div class="mx-auto max-w-5xl h-full">
        {% for notice in notices %}
            <div class="flex my-4 max-w-[80%] mx-auto justify-center">
                <p class="mr-4 text-lg bg-neutral-100 px-2 rounded-md">
                    {{ notice }} <span class="text-xs">{{ notice.created_at|date:"n/j G:i" }}</span>
                </p>
                <form class="text-red-500 hover:scale-125"
                      action="{% url "message:notice_delete" notice.id %}"
                      method="post">
                    {% csrf_token %}
                    <button type="submit">
                        <i class="fa-solid fa-delete-left"></i>
                    </button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
