{% extends "popup.html" %}
{% block content %}
    <div class="w-full h-full max-w-5xl mx-auto">
        <div class="flex justify-between w-4/5 mx-auto xl:w-full">
            <div class="text-3xl font-semibold title">답장 보내기</div>
            <div class="flex">
                <a onclick="history.back();" href="#" class="block mr-8">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-[18px] h-[18px] hover:text-wanted-indigo mt-[8px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                    </svg>
                </a>
                <a href="{% url 'message:list_messages' %}" class="block mr-8">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 hover:text-wanted-green mt-[6px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                </a>
                <a href="#" class="block" onclick="window.close();">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 hover:text-wanted-blue mt-[6px]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
        </div>
        <form onsubmit="send_message('{{ user.username }}','{{ receiver.id }}');"
              action="{% url "message:send_message_target" receiver.id %}"
              method="post"
              class="w-4/5 pt-4 mx-auto xl:w-full mt-7">
            <div class="text-2xl">To. {{ receiver }}</div>
            <hr class="my-4">
            {% csrf_token %}
            <input class="w-full" type="text" name="title" placeholder="Title" required>
            <hr class="my-4">
            <input class="w-full" type="text" name="content" placeholder="Content">
            <hr class="my-4">
            <div class="flex flex-row-reverse">
                <button type="submit" class="hover:underline hover:text-wanted-green">Send</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block websocket %}
    function send_message(user, receiver_id) {
    var notice = {
    "content" :  user+"(이)가 메시지를 보냈습니다.",
    "receiver_id" : receiver_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
{% endblock websocket %}
