{% extends "base.html" %}
{% block content %}
    <form onsubmit="send_message('{{ user.username }}','{{ reciever.id }}')"
          action="{% url "message:send_message" study.id reciever.id %}"
          method="post"
          class="pt-4 max-w-md mx-auto mt-7">
        <p class="text-2xl">
            메세지 보내기 <span class="text-sm">To. {{ reciever }}</span>
        </p>
        <hr class="my-4">
        {% csrf_token %}
        <input class="w-full" type="text" name="title" placeholder="Title" required>
        <hr class="my-4">
        <input class="w-full" type="text" name="content" placeholder="Content">
        <hr class="my-4">
        <div class="flex flex-row-reverse">
            <button type="submit">Send</button>
        </div>
    </form>
{% endblock content %}
{% block websocket %}
    function send_message(user, reciever_id) {
    var notice = {
    "content" :  user+"(이)가 메시지를 보냈습니다.",
    "reciever_id" : reciever_id
    };
    notice_socket.send(JSON.stringify(notice));
    };
{% endblock websocket %}
