{% extends "base.html" %}
{% block content %}
    <div class="mx-auto max-w-5xl px-8">
        <div class="p-2 pt-16">
            <p class="text-5xl font-bold">
                {{ request.user.username }}
                <span class="text-lg font-light text-gray-500">{{ nickname }}</span>
            </p>
            <div class="grid grid-cols-2 my-6 ml-2 text-lg">
                <p>
                    참여 스터디수 <span class="font-bold">{{ my_study.count }}</span> 개
                </p>
                <p>
                    평균 리뷰 점수
                    {% if avg_score %}
                        <span class="font-bold">{{ avg_score|floatformat:2 }}</span>
                    {% else %}
                        <span class="font-bold">0</span>
                    {% endif %}
                    / 10
                </p>
            </div>
        </div>
        <p class="text-2xl font-semibold title pl-2">작성한 리뷰 목록</p>
        <div class="p-2">
            <div class="flex flex-row justify-center">
                {% for index in pagelist %}
                    {% if index == page_obj.number %}
                        <div class="mx-2 page-item">
                            <span class="page-link text-wanted-cyan">{{ index }}</span>
                        </div>
                    {% else %}
                        <div class="mx-2 page-item">
                            <a class="page-link hover:text-wanted-blue hover:underline"
                               href="?page={{ index }}">{{ index }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% for study, reviews in grouped_reviews %}
                <div class="mt-8">
                    <p class="text-xl my-2">{{ study.title }}</p>
                    <div class="ml-2 p-2 flex flex-col max-h-[150px] overflow-auto border-border border-2">
                        {% for review in reviews %}
                            <div class="mt-1 break-all">
                                {{ review.reviewee.username }} <span class="text-xs">( {{ review.score }}/10 )</span> - {{ review.review }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
