{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-[460px] p-6 bg-white rounded-md">
            <h1 class="text-center text-3xl font-bold block">로그인</h1>
            <hr class="mt-5">
            <form action="{% url "users:login" %}"
                  method="post"
                  class="pt-4 max-w-md mx-auto mt-7">
                {% csrf_token %}
                <input type="text"
                       name="username"
                       placeholder="Username"
                       required
                       class="w-full p-2 border-2 rounded-xl text-base focus:outline-none focus:ring-0 focus:border-gray-600">
                <input type="password"
                       name="password"
                       placeholder="Password"
                       required
                       class="w-full p-2 border-2 rounded-xl text-base focus:outline-none focus:ring-0 focus:border-gray-600 mt-5">
                <input type="submit"
                       name="submit"
                       value="Login"
                       class="mt-5 cursor-pointer border-2 border-gray-600 bg-gray-600 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-gray-600 font-semibold">
            </form>
            <p class="text-xs mt-3 flex justify-center items-center">
                <a href="{% url 'users:signup' %}" class="hover:text-gray-300">
                    회원가입
                </a>
            </p>
            <form action="{% provider_login_url "google" %}" method='post' class="pt-4 max-w-md mx-auto mt-2">
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/google-logo.png' %}" alt="" style="width: 22px">
                    <span class="text-center">Google Login</span>
                </button>
            </form>
            <form action="{% provider_login_url "naver" %}" method='post'>
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/naver-logo.png' %}" alt="" style="width: 22px">
                    <span class="text-center">Naver Login</span>
                </button>
            </form>
            <form action="{% provider_login_url "github" %}" method='post'>
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/github-logo.png' %}" alt="" style="width: 22px" class="w-5 h-auto">
                    <span class="text-center">Github Login</span>
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
