{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-[460px] p-6 bg-white rounded-md">
            <h1 class="text-center text-3xl font-bold block">로그인</h1>
            <form action=""
                  method="post"
                  class="pt-4 max-w-md mx-auto">
                {% if form.errors %}
                    <hr class="mt-5">
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                        <div class="relative transform overflow-hidden rounded-lg bg-white text-left transition-all sm:my-8 sm:w-full sm:max-w-lg">
                            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                <div class="sm:flex sm:items-start">
                                    <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                        <svg class="h-6 w-6 text-red-600"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor"
                                             aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z">
                                            </path>
                                        </svg>
                                    </div>
                                    <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                        <h3 class="text-base font-semibold leading-6 text-gray-900"
                                            id="modal-title">Login error</h3>
                                        <div class="mt-2">
                                            <p class="text-sm text-gray-500">{{ form.non_field_errors }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <hr class="mb-5">
                {% endif %}
                {% csrf_token %}
                <input type="text"
                       name="username"
                       placeholder="Username"
                       required
                       class="mt-7 w-full p-2 border-2 rounded-xl text-base focus:outline-none focus:ring-0 focus:border-gray-600">
                <input type="password"
                       name="password"
                       placeholder="Password"
                       required
                       class="w-full p-2 border-2 rounded-xl text-base focus:outline-none focus:ring-0 focus:border-gray-600 mt-5">
                <input type="submit"
                       name="submit"
                       value="Login"
                       class="mt-5 cursor-pointer border-2 border-gray-600 bg-gray-600 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-gray-600 font-semibold">
            </form>
            <p class="text-xs mt-3 flex justify-center items-center">
                <a href="{% url 'users:signup' %}" class="hover:text-gray-300">회원가입</a>
            </p>
            <form action="{% provider_login_url "google" %}"
                  method='post'
                  class="pt-4 max-w-md mx-auto mt-2">
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/google-logo.png' %}"
                         alt=""
                         width="20px"
                         height="auto">
                    <span class="text-center">Google Login</span>
                </button>
            </form>
            <form action="{% provider_login_url "naver" %}" method='post'>
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/naver-logo.png' %}"
                         alt=""
                         width="20px"
                         height="auto">
                    <span class="text-center">Naver Login</span>
                </button>
            </form>
            <form action="{% provider_login_url "github" %}" method='post'>
                {% csrf_token %}
                <button class="mt-2 border cursor-pointer w-full text-base px-2 py-1 hover:border-gray-600 grid grid-cols-[auto,1fr] items-center">
                    <img src="{% static 'image/github-logo.png' %}"
                         alt=""
                         width="20px"
                         height="auto">
                    <span class="text-center">Github Login</span>
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
