{% extends "base.html" %}
{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="w-[460px] p-6 bg-white rounded-md">
            <h1 class="text-center text-3xl font-bold block">회원가입</h1>
            <form action="{% url "users:signup" %}"
                  method="post"
                  class="pt-4 max-w-md mx-auto mt-7">
                {% csrf_token %}
                <h3 class="text-sm">아이디</h3>
                <input type="text"
                       name="username"
                       placeholder="아이디를 입력해주세요."
                       required
                       class="mt-3 w-full p-2 border-b-2 text-base focus:outline-none focus:ring-0 focus:border-gray-600">
                <h3 class="mt-5 text-sm">별명</h3>
                <input type="text"
                       name="nickname"
                       placeholder="사용할 이름을 입력해주세요."
                       required
                       class="w-full p-2 border-b-2 text-base focus:outline-none focus:ring-0 focus:border-gray-600 mt-3">
                <h3 class="mt-5 text-sm">비밀번호</h3>
                <input type="password"
                       name="password"
                       placeholder="비밀번호를 입력해주세요."
                       required
                       class="w-full p-2 border-b-2 text-base focus:outline-none focus:ring-0 focus:border-gray-600 mt-3">
                <h3 class="mt-5 text-sm">비밀번호 확인</h3>
                <input type="password"
                       name="password_check"
                       placeholder="비밀번호를 한번 더 입력해주세요."
                       required
                       class="w-full p-2 border-b-2 text-base focus:outline-none focus:ring-0 focus:border-gray-600 mt-3">
                <input type="submit"
                       name="submit"
                       value="회원가입"
                       class="mt-20 h-14 cursor-pointer border-2 border-gray-600 bg-gray-600 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-gray-600 font-semibold">
            </form>
        </div>
    </div>
{% endblock content %}
